.banner {background-size: cover; background-image: linear-gradient( -225deg,rgba(0,0,0,0.8),rgba(0,0,0,0.1)), url(../../images/banner.jpg); color: white ; padding: 100px 0px; background-size: cover ; background-position: center;}

.banner h1{ color: white; font-size: 40px }
.banner h2{ color: white; font-size: 20px; opacity: 0.7; font-weight: lighter; }
